.row{
    padding-top: 5%;
    padding-left: 60px;
}
.btnnn{
    padding-left: 60px !important;
    padding-bottom: 45px;
    /* margin-right: 10px; */
}
.info-section{
    background-color: gray;
}
